@use "../../style/global" as g;

.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px g.$webkit-box-shadow;
    box-shadow: 2px 4px 10px 1px g.$box-shadow;
    border-radius: 10px;
    height: 140px;

    .left, 
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
            color: g.$gray3;
        }

        .counter {
            font-size: 28px;
            font-weight: 300;
        }

        .link {
            border-bottom: 1px solid ;
            font-size: 13px;
            font-weight: 600;
            color: g.$gray2;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: g.$percent-positive;
            }
            &.negative {
                color: g.$percent-negative;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}