@use 'global' as g;

.app.dark {
    background-color: #111;
    color: rgb(156, 156, 156);

    .chart-grid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .navbar {
        color: rgb(156, 156, 156);
        border-color: #333;

        .search {
            border-color: gray;
        }
    }

    .sidebar {
        background-color: #111;
        border-color: #333;

        .top {
            .logo {
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul {
            li {
                &:hover {
                    background-color: #333;
                }

                .icon {
                    color: #999;
                }
            }
        }
    }

    .data-table {

        .datagrid {
            color: gray;
            border: none;

            .view-button {
                color: g.$light-blue;
                border: 1px solid g.$light-blue-subdued;
            }
        }
    }

    .recharts-pie-sector path {
        stroke: darkgray;
    }

}