$light-blue: #1976d2;
$light-blue-subdued: #1976d266;

$high-prio: crimson;
$high-prio-background: rgba(255, 0, 0, 0.2);

$medium-prio: goldenrod;
$medium-prio-background: #daa52033;

$low-prio: green;
$low-prio-background: #00800033;

$smoke-prio: purple;
$smoke-prio-background: #80008033;

$webkit-box-shadow: #00000078;
$box-shadow: #c9c9c978;

$background-color-light: white;

$gray: gray;
$gray2: #888888;
$gray3: #a0a0a0;
$gray4: lightgray;

// widget
$percent-positive: green;
$percent-negative: red;