@use "../../style/global" as g;

.upload {
    display: flex;
    widows: 100%;

    .upload-container {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                padding: 20px;
                -webkit-box-shadow: 2px 4px 10px 1px g.$webkit-box-shadow;
                box-shadow: 2px 4px 10px 1px g.$box-shadow;  

                .disabled {
                    cursor: not-allowed;
                }

                .upload-drop {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        padding: 20px;
                        font-size: 150px;
                    }
                }
            }

            .right {
                flex: 2;
                padding: 20px;
                -webkit-box-shadow: 2px 4px 10px 1px g.$webkit-box-shadow;
                box-shadow: 2px 4px 10px 1px g.$box-shadow;  
            }

        }

        .bottom {
            padding: 20px;
            display: flex;
            gap: 20px;
        }
    }
}